---
import { Picture, Image } from "@astrojs/image/components";
import {
  Picture as Picture16,
  Image as Image16,
} from "@astrojs/image16/components";

let imgSrc =
  "https://developer.mozilla.org/en-US/blog/regular-expressions-reference-updates/regex-reference-updates.png";
let width = 874 / 3;
let height = 459 / 3;
let alt = "Photo";
---

<div class="grid place-items-center p-8 gap-4">
  <section>
    <h2 class="font-bold text-xl">Standard html img</h2>
    <img src={imgSrc} width={width} height={height} alt={alt} />
  </section>

  <div class="flex gap-4">
    <section class="border p-4">
      <h2 class="font-bold text-xl">@astrojs/image@0.17.1</h2>
      <section>
        <h3 class="font-semibold text-lg">{"<Image />"}</h3>
        <Image src={imgSrc} width={width} height={height} alt={alt} />
      </section>
      <section>
        <h3 class="font-semibold text-lg">{"<Picture />"}</h3>
        <Picture
          fit="cover"
          src={imgSrc}
          alt={alt}
          loading="eager"
          widths={[200]}
          aspectRatio={12 / 6}
          width={width}
          height={height}
        />
      </section>
    </section>

    <section class="border p-4">
      <h2 class="font-bold text-xl">@astrojs/image@0.16.9</h2>
      <section>
        <h3 class="font-semibold text-lg">{"<Image />"}</h3>
        <Image16 src={imgSrc} width={width} height={height} alt={alt} />
      </section>
      <section>
        <h3 class="font-semibold text-lg">{"<Picture />"}</h3>
        <Picture16
          fit="cover"
          src={imgSrc}
          alt={alt}
          loading="eager"
          widths={[200]}
          aspectRatio={12 / 6}
          width={width}
          height={height}
        />
      </section>
    </section>
  </div>
</div>
