---
  import { Picture, Image } from '@astrojs/image/components';
  import { Picture as Picture16, Image as Image16 } from '@astrojs/image16/components';


  let imgSrc = 'https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png'
  let width = 272
  let height = 92
  let alt = 'Google Logo'
---

<div>
<section>
  <h2>Standard html img</h2>
  <img
  src={imgSrc}
  width={width}
  height={height}
  alt={alt}
/>
</section>

<section>
  <h2>@astrojs/image@0.17.1</h2>
 <section>
  <h3>Image Component</h3>
  <Image
  src={imgSrc}
  width={width}
  height={height}
  alt={alt}
/>
</section>
<section>
  <h3>Picture Component</h3>
  <Picture
  fit="cover"
  src={imgSrc}
  alt={alt}
  loading="eager"
  widths={[200]}
  aspectRatio={12 / 6}
  width={width}
  height={height}
/>
</section>
 </section>

 <section>
  <h2>@astrojs/image@0.16.9</h2>
 <section>
  <h3>Image Component</h3>
  <Image16
  src={imgSrc}
  width={width}
  height={height}
  alt={alt}
/>

</section>
<section>
  <h3>Picture Component</h3>
  <Picture16
  fit="cover"
  src={imgSrc}
  alt={alt}
  loading="eager"
  widths={[200]}
  aspectRatio={12 / 6}
  width={width}
  height={height}
/>
</section>
 </section>
</div>